.header{
    height: 10vh;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header h3{
    font-size: 35px;
    font-weight: bold;
    color: #5F9DF7;
    padding-left: 2rem;
}
.header span{
    font-size: 35px;
    font-weight: bold;
    color: #FF577F;
}


@media (max-width:460px){
    .header h3{
        display: flex;
        font-size: 40px;
    }
    .header span{
        font-size: 40px;
        padding-left: 0.4rem;
    }
}

@media screen and (max-width:767px) and (min-width:461px){
    .header{
        width: 100%;
    }
    .header h3{
        display: flex;
    }
    .header span{
        padding-left: 0.4rem;
    }
}